/*Fridas egna stilregler*/

@import url(http://fonts.googleapis.com/css?family=Vast+Shadow|Shadows+Into+Light+Two);

#content {
    width: 890px;
    margin-left: auto;
    margin-right: auto;
}

header h1 {
    font-family:'Vast Shadow', cursive;
    font-weight: bold;
    color: #a0ba5e;
    font-size: 48px;
}

footer {
    font-size: small;
}

/*Visa rättmeddelande*/
.success {
    background: #d3faa7;
    height: 60px;
    margin: 10px;
    border: 3px solid #aedb7c;
    width: 75%;

}

    .success p {
        /*font-family: Arial;*/
        width: 350px;
        margin: 5px;
        float: left;
    }

.close-me {
    background-image: url(../content/close.png);
    cursor: pointer;
    width: 30px;
    height: 30px;
    float: right;
}

