/*Fridas egna stilregler*/

@import url(http://fonts.googleapis.com/css?family=Vast+Shadow|Shadows+Into+Light+Two);

#content {
    width: 890px;
    margin-left: auto;
    margin-right: auto;
}

header h1 {
    font-family:'Vast Shadow', cursive;
    font-weight: bold;
    color: #a0ba5e;
    font-size: 48px;
}

footer {
    font-size: small;
}

/*Visa rättmeddelande*/
.success {
    background: #d3faa7;
    height: 60px;
    margin: 10px;
    border: 3px solid #aedb7c;
    width: 75%;
}

    .success p {
        /*font-family: Arial;*/
        width: 350px;
        margin: 5px;
        float: left;
    }

.close-me {
    background-image: url(../content/close.png);
    cursor: pointer;
    width: 30px;
    height: 30px;
    float: right;
}

label {
    width: 210px;
}

input, select {
    width: 200px;
    height: 25px;
}

.details {
    display: inline-block;
    width: 120px;
}

footer {
    margin-top: 20px;
}

.links {
    margin-top: 15px;
}

.validation {
    background: #feb17a ;
    margin: 10px;
    border: 3px solid #ff6a00;
    width: 75%;
    color: #ff0000;    
}

    .validation ul {
        list-style-type: none;
        padding:0; 
        margin: 5px;
    }

#welcome {
    height: 300px;
    background-image: url(../content/livingroom.png);
    background-position-y: 40%;
    margin: 10px;
    margin-top: 20px;
    
}

    #welcome p {
        color: #a0ba5e;
        font-size: 18px;
        width: 450px;
        float: right;
        text-align:justify;
        margin: 10px;
    }
